.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 6%;
    padding: 0 2% 0 2%;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2%;
}

.pokecard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25vh;
    height: 37vh;
    border: 2px solid #3761A8;
    border-radius: 15px;
    margin: 0 0 2% 0;
}

.pokemon-img {
    background-color: white;
    border: 3px solid transparent;
    width: 98%;
    border-radius: 15px 15px 0 0;
    transition: border-color 0.5s ease;
}

.pokemon-img:hover {
    cursor: pointer;
    border-color: #3761A8;
}

.pokeball-button {
    border: 3px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    margin-bottom: 5%;
}

.pokeball-img {
    width: 100%;
}

.enable:hover {
    border: 3px solid #3761A8;
    border-radius: 50%;
    cursor: pointer;
}

.pokemon-container {
    margin: 5%;
    width: 20%;
}

.pokemon-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border: 0 solid transparent;
    border-radius: 15px 15px 18px 18px;
    background-color: white;
}

.pokemon-info-tittle {
    align-self: flex-start;
    margin-left: 5%;
    color: #353637;
    font-weight: 750;
}

.pokemon-info img {
    width: 50%;
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: 2 solid transparent;
    background-color: #353637;
    border-radius: 0 0 15px 15px;
}

.info-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-left p {
    width: 70%;
    margin-left: 15%;
}

.info-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.pokemon-type {
    display: flex;
    justify-content: center;
    border: 0 solid transparent;
    background-color: red;
    border-radius: 15px;
    width: 45%;
    margin: 10% 0 0 0;
    padding: 0;
}

.ability {
    width: 100%;
    margin: 2px 0 0 45%;
    padding: 0;
}

.grass {
    background-color: #62BE59;
}

.poison {
    background-color: #AB5FCB;
}

.fire {
    background-color: #FCA344;
}

.flying {
    background-color: #99B3E7;
}

.water {
    background-color: #599FDA;
}

.bug {
    background-color: #62BE59;
}

.normal {
    background-color: #98999B;
}

.poke-container {
    display: flex;
    background-image: url('/src/resources/Box_Special.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;
    height: 77vh;
    border: 0 solid transparent;
    border-radius: 15px;
    margin-top: 1.5%;
}

.poke-box {
    padding: 2.5% 0 0 2%;
    display: flex;
    flex-direction: row;
    margin-top: 20.1%;
    margin-left: 3.9%;
    width: 58.5%;
    height: 48.6vh;
    flex-wrap: wrap;
    background-color: rgba(68, 61, 61, 0.5);
}

.poke-box img {
    width: auto;
    height: 19%;
    transition: width 0.5s ease, height 0.5s ease;
}

.poke-box img:hover {
    cursor: pointer;
    width: auto;
    height: 17%;
}

.poke-info {
    width: 32.6%;
    margin: 6.1% 0;
}

.info-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;
}

.info-buttons button {
    width: 50%;
    margin: 0 5%;
    height: 5vh;
    border: 3px solid transparent;
    border-radius: 25px;
    font-size: medium;
    font-weight: 600;
    transition: background-color 0.5s ease;
}

.release {
    background-color: #FF3132;
}

.release:hover {
    cursor: pointer;
    background-color: #D5160B;
}

.clear:hover {
    cursor: pointer;
    background-color: #242424;
}

.selector {
    height: 80vh;
    width: 30%;
    border: 6px solid #6e6e6e;
    border-radius: 15px;
    background-image: url('/src/resources/background.png');
    background-size: cover;
}

.selector img {
    height: 17%;
    width: auto;
    transition: width 0.5s ease, height 0.5s ease;
}


.selector img:hover {
    cursor: pointer;
    width: auto;
    height: 16%;
}

.team-container {
    margin-left: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80vh;
    width: 70%;
    flex-wrap: wrap;
}

.team-card-container {
    width: 30%;
    height: 40%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.team-card {
    margin-top: 10%;
    width: 100%;
    height: 50%;
    border: 2px solid black;
    border-radius: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.selector-tittel {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    align-self: center;
    width: 100%;
    color: black;
}

.avatar {
    width: 35%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid black;
}

.avatar img {
    height: 10vh;
    width: auto;
}


.team-info {
    padding-left: 5%;
    width: 65%;
    height: 100%;
    background-color: #3B91DF;
    border-radius: 0 0 15% 0;
    font-weight: 600;
}

.stamine {
    width: 90%;
    height: 4%;
    border: 2px solid black;
    background-color: #6AEEA1;
    margin-bottom: 0;
}

.disabled{
    background-color: black;
}

.send-pc{
    margin-top: 5%;
    height: 10%;
    border-radius: 20px;
    transition: background-color 0.5s ease, border-color 0.5s ease;
}

.send-pc:hover{
    cursor: pointer;
    background-color: #353637;
    border-color: transparent;
}

.pokedex-container{
    width: 45%;
    height: 65vh;
    background-image: url('/src/resources/pokedex.png');
    background-size: cover;
    display: flex;
    flex-direction: row;
}

.pokedex-left{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.display{
    margin: 50% 0 0 24.5%;
    height: 27%;
    width: 60.5%;
    border-radius: 15px;
    background-color: rgb(255, 255, 255, 0.9);
    border: 1px solid black;
}

.display img{
    margin: 7% 0 0 18%;
    height: 14vh;
}

.screen-1{
    height: 24%;
    width: 31%;
    margin: 30% 0 0 30%;
    border-radius: 10px;
}

.screen-1 p{
    margin-left: 17%;
    color: black;
    font-weight: 600;
}

.buttons{
    width: 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 18%  0 0 16%;
    height: 40%;
}

.buttons button{
    height: 35%;
    background-color: transparent;
    border: 0;
}

.buttons button:hover{
    cursor: pointer;
}

.pokedex-right{
    height: 10vh;
    width: 50%;
    height: 100%;
}

.pokedex-right-down{
    display: flex;
    flex-direction: row;
    height: 50%;
}

.pokedex-left-down{
    display: flex;
    flex-direction: row;
    height: 38%;
}

.screen-2{
    height: 14.5%;
    width: 60%;
    margin: 54% 0 0 20.5%;
    border-radius: 10px;
}

.screen-2 p{
    margin: 0 2%;
    padding: 0;
    font-size: 14px;
}

.screen-3{
    height: 13%;
    width: 27%;
    margin: 48% 0 0 20.5%;
    border-radius: 10px;
}

.screen-3 p{
    margin-left: 4%;
}

.screen-4{
    height: 13%;
    width: 27%;
    margin: 48% 0 0 6%;
    border-radius: 10px;
}

.screen-4 p{
    margin-left: 4%;
}

.hidden{
    filter: brightness(0);
}