.main-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 5%;
}

.pokemon-list{
    display: flex;
    flex-direction: column;
}