.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 6%;
    padding: 0 2% 0 2%;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2%;
}

.pokecard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25vh;
    height: 37vh;
    border: 2px solid #3761A8;
    border-radius: 15px;
    margin: 0 0 2% 0;
}

.pokemon-img {
    background-color: white;
    border: 3px solid transparent;
    width: 98%;
    border-radius: 15px 15px 0 0;
    transition: border-color 0.5s ease;
}

.pokemon-img:hover {
    cursor: pointer;
    border-color: #3761A8;
}

.pokeball-button {
    border: 3px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    margin-bottom: 5%;
}

.pokeball-img {
    width: 100%;
}

.enable:hover {
    border: 3px solid #3761A8;
    border-radius: 50%;
    cursor: pointer;
}

.pokemon-container{
    margin: 5%;
    width: 20%;
}

.pokemon-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border: 0 solid transparent;
    border-radius: 15px 15px 18px 18px;
    background-color: white;
}

.pokemon-info-tittle {
    align-self: flex-start;
    margin-left: 5%;
    color: #353637;
    font-weight: 750;
}

.pokemon-info img {
    width: 50%;
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: 2 solid transparent;
    background-color: #353637;
    border-radius: 0 0 15px 15px;
}

.info-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-left p{
    width: 70%;
    margin-left: 15%;
}

.info-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.pokemon-type {
    display: flex;
    justify-content: center;
    border: 0 solid transparent;
    background-color: red;
    border-radius: 15px;
    width: 45%;
    margin: 10% 0 0 0;
    padding: 0;
}

.ability {
    width: 100%;
    margin: 2px 0 0 45%;
    padding: 0;
}

.grass {
    background-color: #62BE59;
}

.poison {
    background-color: #AB5FCB;
}

.fire {
    background-color: #FCA344;
}

.flying {
    background-color: #99B3E7;
}

.water {
    background-color: #599FDA;
}

.bug {
    background-color: #62BE59;
}

.normal {
    background-color: #98999B;
}

.poke-container{
    display: flex;
    background-image: url('/src/resources/Box_Special.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;
    height: 77vh;
    border: 0 solid transparent;
    border-radius: 15px;
    margin-top: 1.5%;
}

.poke-box{
    padding: 2.5% 0 0 2%;
    display: flex;
    flex-direction: row;
    margin-top: 20.1%;
    margin-left: 3.9%;
    width: 58.5%;
    height: 48.6vh;
    flex-wrap: wrap;
    background-color: rgba(68, 61, 61, 0.5);
}

.poke-box img{
    width: 16%;
    height: 16%;
    transition: width 0.5s ease, height 0.5s ease;
}

.poke-box img:hover{
    cursor: pointer;
    width: 10%;
    height: 10%;
}

.poke-info{
    width: 32.6%;
    margin: 6.1% 0;
}

.info-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;
}

.info-buttons button{
    width: 50%;
    margin: 0 5%;
    height: 5vh;
    border: 3px solid transparent;
    border-radius: 25px;
    font-size: medium;
    font-weight: 600;
    transition: background-color 0.5s ease;
}

.release{
    background-color: #FF3132;
}

.release:hover{
    background-color: #D5160B;
}

.clear:hover{
    background-color: #242424;
}